<section class="learn-more-container">
    <app-state-header [header]="header" class="header"></app-state-header>

    <div class="form-container">
        <h3>Sign up now to learn more about Virginia!</h3>
        <form *ngIf="!submitted" class="form">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                </span>
                <input pInputText placeholder="First Name" />

                <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                </span>
                <input pInputText placeholder="Last Name" />
            </div>
            
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-envelope"></i>
                </span>
                <input [(ngModel)]="email"
                        name="email" 
                        (keyup)="checkEmails()" 
                        type="email" 
                        pInputText 
                        placeholder="Email" />
            </div>
            
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-envelope"></i>
                </span>
                <input [(ngModel)]="confirmEmail"
                        [ngClass]="emailsMatch ? '' : 'invalid'"
                        [style.border]="confirmEmail && emailsMatch ? 'solid green 2px' : ''"
                        name="confirmEmail" 
                        (keyup)="checkEmails()" 
                        type="email" 
                        pInputText 
                        placeholder="Confirm Email" />
            </div>

            <p-button [disabled]="!emailsMatch" (click)="submit()">Submit</p-button>
        </form>

        <div *ngIf="submitted" class="submitted">
            Thanks for signing up!
        </div>
    </div>
</section>
