.state-header-container {
    // border: black solid 2px;
    display: flex;
    justify-content: center; 
    
    h1 {
        
        font-size: 5rem;
        font-weight: 100;
        text-decoration: underline;
    }
}