<div class="city-category-container">
    <h3 class="category-title">{{ currentCategory.name }}</h3>
    

    <div class="carousel-container">
        <p-carousel [value]="currentItems" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">

            <ng-template let-item pTemplate="item">
                <h3>{{ item.name }}</h3>
                <div class="category-item">
                    <div class="category-image">
                        <img src="{{ item.imageUrl }}" alt="">
                    </div>
    
                    <div class="category-description">
                        <p>{{ item.description }}</p>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
