.explore-our-cities {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    .dialog-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}