.fun-facts-container {
    display: flex;
    flex-direction: row-reverse;

    .fun-facts {
        transition: .3s;
        overflow: hidden;
        border: black solid 1px;
        width: 0rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        .button-container {
            display: flex;
            justify-content: space-between;
        }
    }
}