<aside class="fun-facts-container">

    <div [style.width]="funFactsWidth" class="fun-facts">
        <h3>Did you know?</h3>
        <div class="fact-content">
            <p class="fact">
                {{ funFacts[currentFactIndex] }}
            </p>
        </div>
        <div class="button-container">
            <p-button icon="pi pi-arrow-left" (click)="getPreviousFact()"></p-button>
            <p-button icon="pi pi-arrow-right" (click)="getNextFact()"></p-button>
        </div>
    </div>

    <div class="toggle-button">
        <p-button *ngIf="!funFactsClosed" icon="pi pi-times" [text]="true" (click)="toggleFacts()"></p-button>
        <p-button *ngIf="funFactsClosed" icon="pi pi-chevron-right" [text]="true" (click)="toggleFacts()"></p-button>
    </div>

</aside>
