<div class="citations-page-container">
    <app-state-header [header]="header" class="header"></app-state-header>

    <div class="citations-container">
        <h2>State Citations</h2>
        <ul>
            <h3 class="label">Statistics & Facts</h3>
            <li>
                <span class="citation">Virginia rankings | US news best states. (n.d.). https://www.usnews.com/news/best-states/virginia </span>
            </li>
            <li>
                <span class="citation">Visit Virginia: Virginia is for lovers. Virginia Tourism Corporation. (n.d.). https://www.virginia.org/ </span>
            </li>
            <li>
                <span class="citation">Kiffel-Alcheh, J. (2023, March 1). Virginia Pictures and facts. Geography. https://kids.nationalgeographic.com/geography/states/article/virginia </span>
            </li>
            <li>
                <span class="citation">Virginia. Data USA. (n.d.). https://datausa.io/profile/geo/virginia </span>
            </li>

            <h3 class="label">Images</h3>

            <li>
                <span class="citation">Grichenko, A. (n.d.). Adventure In The Mountains. publicdomainpictures.net. Retrieved 2023, from https://www.publicdomainpictures.net/en/view-image.php?image=46062&amp;picture=adventure-in-the-mountains. </span>
            </li>
            <li>
                <span class="citation">SVG REPO. (n.d.). Graduation Student Cap SVG. svgrepo. Retrieved 2023, from https://www.svgrepo.com/svg/42982/graduation-student-cap.</span>
            </li>
            <li>
                <span class="citation">Ant Design. (n.d.). Safety SVG Vector. svgrepo. Retrieved 2023, from https://www.svgrepo.com/svg/332524/safety.</span>
            </li>
            <li>
                <span class="citation">Vlad Cristea. (n.d.). Money Send SVG Vector. svgrepo. Retrieved 2023, from https://www.svgrepo.com/svg/522614/money-send</span>
            </li>
        </ul>

        <h2>Richmond Citations</h2>
        <ul>
            <h3 class="label">Statistics & Facts</h3>
            <li>
                <span class="citation">Richmond - Virginia is for lovers. Virginia Tourism Corporation. (n.d.-a). https://www.virginia.org/places-to-visit/regions/central-virginia/richmond/?view=list&amp;sort=qualityScore&amp;bounds=false </span>
            </li>
            <li>
                <span class="citation">Richmond, VA. Data USA. (n.d.-b). https://datausa.io/profile/geo/richmond-va/ </span>
            </li>
            
            <h3 class="label">Images</h3>
            
            <li>
                <span class="citation">Awood, A. (n.d.). Richmond Virginia. pixabay. Retrieved 2023, from https://pixabay.com/photos/richmond-virginia-richmond-virginia-4611886/. </span>
            </li>
            <li>
                <span class="citation">foursquare. (n.d.). Alamo BBQ. restaurantji. Retrieved 2023, from https://www.restaurantji.com/va/richmond/alamo-bbq-/menu/. </span>
            </li>
            <li>
                <span class="citation">Buffalo Chicken Waffle. (n.d.-b). yelp. Retrieved 2023, from https://www.yelp.com/biz/capitol-waffle-shop-richmond. </span>
            </li>
            <li>
                <span class="citation">Smoked Beef Sausage. (n.d.-c). yelp. Retrieved 2023, from https://www.yelp.com/biz/perlys-richmond-2. </span>
            </li>
            <li>
                <span class="citation">Management. (2018). Pinball never really gets old! tripadvisor. Retrieved 2023, from https://www.tripadvisor.com/Attraction_Review-g60893-d14943340-Reviews-The_Circuit_Arcade_Bar-Richmond_Virginia.html#/media-atf/14943340/348725388:p/?albumid=-160&amp;type=0&amp;category=-160. </span>
            </li>
            <li>
                <span class="citations">VA Museum of Fine Arts Logo. (n.d.). vamuseums. Retrieved 2023, from https://www.vamuseums.org/sponsors/virginia-museum-of-fine-arts. </span>
            </li>
            <li>
                <span class="citations">VCU Relations. (n.d.). Monroe Park Compass Plaza. usnews. Retrieved 2023, from https://www.usnews.com/best-colleges/vcu-3735. </span>
            </li>
            <li>
                <span class="citations">Sledge, A. (n.d.). Virginia Union University. usnews. Retrieved 2023, from https://www.usnews.com/best-colleges/virginia-union-university-3766. </span>
            </li>
            <li>
                <span class="citations">University Communications. (n.d.). University of Richmond Sign. usnews. Retrieved 2023, from https://www.usnews.com/best-colleges/university-of-richmond-3744. </span>
            </li>

        </ul>

        <h2>Roanoke Citations</h2>
        <ul>
            
            <h3 class="label">Statistics & Facts</h3>
            <li>
                <span class="citation">Roanoke - Virginia is for lovers. Virginia Tourism Corporation. (n.d.-a). https://www.virginia.org/places-to-visit/regions/virginia-mountains/roanoke/</span>
            </li>
            <li>
                <span class="citation">Visit Virginia’s Blue Ridge Mountains. Roanoke Valley. (n.d.). https://www.visitroanokeva.com</span>
            </li>
            <li>
                <span class="citation">Roanoke, VA. Data USA. (n.d.-a). https://datausa.io/profile/geo/roanoke-va/ </span>
            </li>

            <h3 class="label">Images</h3>
            <li>
                <span class="citation">Raponi, M. (n.d.). Roanoke Valley in Virginia. pixabay. Retrieved 2023, from https://pixabay.com/photos/virginia-roanoke-panorama-4539724/. </span>
            </li>
            <li>
                <span class="citation">Bellaire56. (2016). fork in the alley. tripadvisor. Retrieved 2023, from https://www.tripadvisor.com/Restaurant_Review-g58134-d818800-Reviews-Fork_in_the_Alley-Roanoke_Virginia.html#photos;aggregationId=101&amp;albumid=101&amp;filter=7&amp;ff=227496052. </span>
            </li>
            <li>
                <span class="citation">Benny Marconi’s Pizza. (n.d.). yelp. Retrieved 2023, from https://www.yelp.com/biz_photos/benny-marconis-roanoke?select=BbE5k2sFyXnAE7mIupagHg. </span>
            </li>
            <li>
                <span class="citation">Roanoke Pinball Museum. (n.d.). roanokepinball. Retrieved 2023, from https://roanokepinball.org/about-us-1. </span>
            </li>
            <li>
                <span class="citation">Virginia Museum of Transportation. (n.d.). vmt. Retrieved 2023, from https://www.vmt.org/attractions/aviation. </span>
            </li>
            <li>
                <span class="citation">Roanoke College. (n.d.). The Back Quad. usnews. Retrieved 2023, from https://www.usnews.com/best-colleges/roanoke-college-3736. </span>
            </li>
            <li>
                <span class="citation">Body, O. (n.d.). Hollins University Sign. usnews. Retrieved 2023, from https://www.usnews.com/best-colleges/hollins-university-3715. </span>
            </li>
            
        </ul>

        <h2>Lynchburg Citations</h2>
        <ul>
            <h3 class="label">Statistics & Facts</h3>
            <li>
                <span class="citation">Lynchburg - Virginia is for lovers. Virginia Tourism Corporation. (n.d.-a). https://www.virginia.org/places-to-visit/regions/central-virginia/lynchburg/?view=list&amp;sort=qualityScore&amp;bounds=false </span>
            </li>
            <li>
                <span class="citation">LYH – Lynchburg Tourism. (2023, November 1). Lynchburg tourism. https://www.lynchburgvirginia.org/ </span>
            </li>
            <li>
                <span class="citation">Lynchburg, VA. Data USA. (n.d.-a). https://datausa.io/profile/geo/lynchburg-va/ </span>
            </li>

            <h3 class="label">Images</h3>
            <li>
                <span class="citation">Lynchburg VA. (2023). lynchburgvirginia. Retrieved 2023, from https://www.lynchburgvirginia.org/lyh-is-a-top-adventure-town/. </span>
            </li>
            <li>
                <span class="citation">Crazy Mason Ice Cream. (n.d.). thecrazymason. Retrieved 2023, from https://www.thecrazymason.com/news/#&amp;gid=1&amp;pid=5. </span>
            </li>
            <li>
                <span class="citation">Nashville Hot. (n.d.). cosmoslyh. Retrieved 2023, from https://cosmoslyh.com/menu-1. </span>
            </li>
            <li>
                <span class="citation">Chicken Waffle Sandwich. (n.d.). ironandale. Retrieved 2023, from http://ironandale.com/#about. </span>
            </li>
            <li>
                <span class="citation">Management. (n.d.). Lynchburg Community Market. tripadvisor. Retrieved 2023, from https://www.tripadvisor.com/Attraction_Review-g57919-d7903582-Reviews-Lynchburg_Community_Market-Lynchburg_Virginia.html#/media-atf/7903582/302082514:p/?albumid=-160&amp;type=0&amp;category=-160. </span>
            </li>
            <li>
                <span class="citation">River Ridge Mall. (n.d.). lynchburgvirginia. Retrieved 2023, from https://www.lynchburgvirginia.org/listings/river-ridge-mall/. </span>
            </li>
            <li>
                <span class="citation">Amazement Square. (n.d.). amazementsquare. Retrieved 2023, from https://www.amazementsquare.org/overview. </span>
            </li>
            <li>
                <span class="citation">Randolph College. (n.d.). Michels Plaza on Randolph’s campus. usnews. Retrieved 2023, from https://www.usnews.com/best-colleges/randolph-college-3734. </span>
            </li>
            <li>
                <span class="citation">Arthur S Demoss Hall. (n.d.). forbes. Retrieved 2023, from https://www.forbes.com/colleges/liberty-university/?sh=6c6981358272. </span>
            </li>
            <li>
                <span class="citation">McCormick, J. (n.d.). A class outside of Hopwood Hall. usnews. Retrieved 2023, from https://www.usnews.com/best-colleges/university-of-lynchburg-3720. </span>
            </li>
            
        </ul>
        
    </div>
</div>