<div class="citations-page-container">
    <app-state-header [header]="header" class="header"></app-state-header>

    <div class="citations-container">
        <h2>State Citations</h2>
        <ul>
            <span class="label">State statistics & Fun Facts</span>

            <li>
                <span class="citation">Virginia rankings | US news best states. (n.d.). https://www.usnews.com/news/best-states/virginia </span>
            </li>
            <li>
                <span class="citation">Visit Virginia: Virginia is for lovers. Virginia Tourism Corporation. (n.d.). https://www.virginia.org/ </span>
            </li>
            <li>
                <span class="citation">Kiffel-Alcheh, J. (2023, March 1). Virginia Pictures and facts. Geography. https://kids.nationalgeographic.com/geography/states/article/virginia </span>
            </li>

            <span class="label">Photos</span>

            <li>
                <span class="citation">Grichenko, A. (n.d.). Adventure In The Mountains. publicdomainpictures.net. Retrieved 2023, from https://www.publicdomainpictures.net/en/view-image.php?image=46062&amp;picture=adventure-in-the-mountains. </span>
            </li>
            <li>
                <span class="citation">SVG REPO. (n.d.). Graduation Student Cap SVG. svgrepo. Retrieved 2023, from https://www.svgrepo.com/svg/42982/graduation-student-cap.</span>
            </li>
            <li>
                <span class="citation">Ant Design. (n.d.). Safety SVG Vector. svgrepo. Retrieved 2023, from https://www.svgrepo.com/svg/332524/safety.</span>
            </li>
            <li>
                <span class="citation">Vlad Cristea. (n.d.). Money Send SVG Vector. svgrepo. Retrieved 2023, from https://www.svgrepo.com/svg/522614/money-send</span>
            </li>
        </ul>

        <h2>Richmond Citations</h2>
        <ul>
            <li>
                <span class="label">Landing Background Image: </span>
                <span class="citation">https://pixabay.com/photos/richmond-virginia-richmond-virginia-4611886/</span>
            </li>
            <li>
                <span class="label">Facts: </span>
                <span class="citation">https://www.virginia.org/places-to-visit/regions/central-virginia/richmond</span>
            </li>
            <li>
                <span class="citation">https://www.restaurantji.com/va/richmond/alamo-bbq-/menu/</span>
            </li>
            <li>
                <span class="citation">https://www.yelp.com/biz/capitol-waffle-shop-richmond</span>
            </li>
            <li>
                <span class="citation">https://www.yelp.com/biz/perlys-richmond-2</span>
            </li>
            <li>
                <span class="citation">https://www.tripadvisor.com/Attraction_Review-g60893-d14943340-Reviews-The_Circuit_Arcade_Bar-Richmond_Virginia.html</span>
            </li>
            <li>
                <span class="citations">https://www.vamuseums.org/sponsors/virginia-museum-of-fine-arts</span>
            </li>
            <li>
                <span class="citations">https://www.usnews.com/best-colleges/vcu-3735</span>
            </li>
            <li>
                <span class="citations">https://www.usnews.com/best-colleges/virginia-union-university-3766</span>
            </li>
            <li>
                <span class="citations">https://www.usnews.com/best-colleges/university-of-richmond-3744</span>
            </li>

        </ul>

        <h2>Roanoke Citations</h2>
        <ul>
            <li>
                <span class="label">Landing Background Image: </span>
                <span class="citation">https://pixabay.com/photos/virginia-roanoke-panorama-4539724/</span>
            </li>
            <li>
                <span class="label">Facts: </span>
                <span class="citation">https://www.virginia.org/places-to-visit/regions/virginia-mountains/roanoke/</span>
            </li>
            <li>
                <span class="citation">https://visitroanokeva.com</span>
            </li>
            <li>
                <span class="citation">https://www.tripadvisor.com/Restaurant_Review-g58134-d818800-Reviews-Fork_in_the_Alley-Roanoke_Virginia.html#photos;aggregationId=101&albumid=101&filter=7&ff=227496052</span>
            </li>
            <li>
                <span class="citation">https://www.yelp.com/biz_photos/benny-marconis-roanoke?select=BbE5k2sFyXnAE7mIupagHg</span>
            </li>
            <li>
                <span class="citation">https://roanokepinball.org/about-us-1</span>
            </li>
            <li>
                <span class="citation">https://www.vmt.org/attractions/aviation</span>
            </li>
            <li>
                <span class="citation">https://www.usnews.com/best-colleges/roanoke-college-3736</span>
            </li>
            <li>
                <span class="citation">https://www.usnews.com/best-colleges/hollins-university-3715</span>
            </li>
            <li>
                <span class="citation"></span>
            </li>
            <li>
                <span class="citation"></span>
            </li>
            <li>
                <span class="citation"></span>
            </li>
            
        </ul>

        <h2>Lynchburg Citations</h2>
        <ul>
            <li>
                <span class="label">Landing Background Image: </span>
                <span class="citation">https://www.lynchburgvirginia.org/lyh-is-a-top-adventure-town/</span>
            </li>
            <li>
                <span class="label">Facts: </span>
                <span class="citation">https://www.virginia.org/places-to-visit/regions/central-virginia/lynchburg/</span>
            </li>
            <li>
                <span class="citation">https://lynchburgvirginia.org</span>
            </li>
            <li>
                <span class="citation">https://www.thecrazymason.com/news/#&gid=1&pid=5</span>
            </li>
            <li>
                <span class="citation">https://cosmoslyh.com/menu-1</span>
            </li>
            <li>
                <span class="citation">http://ironandale.com/#about</span>
            </li>
            <li>
                <span class="citation">https://www.tripadvisor.com/Attraction_Review-g57919-d7903582-Reviews-Lynchburg_Community_Market-Lynchburg_Virginia.html#/media-atf/7903582/302082514:p/?albumid=-160&type=0&category=-160</span>
            </li>
            <li>
                <span class="citation">https://www.lynchburgvirginia.org/listings/river-ridge-mall/</span>
            </li>
            <li>
                <span class="citation">https://www.amazementsquare.org/overview</span>
            </li>
            <li>
                <span class="citation">https://www.usnews.com/best-colleges/randolph-college-3734</span>
            </li>
            <li>
                <span class="citation">https://www.forbes.com/colleges/liberty-university/?sh=6c6981358272</span>
            </li>
            <li>
                <span class="citation">https://www.usnews.com/best-colleges/university-of-lynchburg-3720</span>
            </li>
            
        </ul>
        
    </div>
</div>