<div class="citations-page-container">
    <app-state-header [header]="header" class="header"></app-state-header>

    <div class="citations-container">
        <h2>State Citations</h2>
        <ul>
            <li>
                <span class="label">State Landing Background: </span>
                <span class="citation">https://www.publicdomainpictures.net/en/view-image.php?image=46062&picture=adventure-in-the-mountains</span>
            </li>
            <li>
                <span class="label">State statistics: </span>
                <span class="citation">https://www.usnews.com/news/best-states/virginia</span>
            </li>
            <li>
                <span class="label">Fun Facts: </span>
                <span class="citation">https://www.virginia.org</span>
            </li>
            <li>
                <span class="citation">https://kids.nationalgeographic.com/geography/states/article/virginia</span>
            </li>
        </ul>

        <h2>Richmond Citations</h2>
        <ul>
            <li>
                <span class="label">Landing Background Image: </span>
                <span class="citation">https://pixabay.com/photos/richmond-virginia-richmond-virginia-4611886/</span>
            </li>
            <li>
                <span class="label">Facts: </span>
                <span class="citation">https://www.virginia.org/places-to-visit/regions/central-virginia/richmond</span>
            </li>
            
        </ul>

        <h2>Roanoke Citations</h2>
        <ul>
            <li>
                <span class="label">Landing Background Image: </span>
                <span class="citation">https://pixabay.com/photos/virginia-roanoke-panorama-4539724/</span>
            </li>
            <li>
                <span class="label">Facts: </span>
                <span class="citation">https://www.virginia.org/places-to-visit/regions/virginia-mountains/roanoke/</span>
            </li>
            <li>
                <span class="citation">https://visitroanokeva.com</span>
            </li>
        </ul>

        <h2>Lynchburg Citations</h2>
        <ul>
            <li>
                <span class="label">Landing Background Image: </span>
                <span class="citation">https://www.lynchburgvirginia.org/lyh-is-a-top-adventure-town/</span>
            </li>
            <li>
                <span class="label">Facts: </span>
                <span class="citation">https://www.virginia.org/places-to-visit/regions/central-virginia/lynchburg/</span>
            </li>
            <li>
                <span class="citation">https://lynchburgvirginia.org</span>
            </li>
        </ul>
        
    </div>
</div>