.side-nav-container {

    display: flex;

    .nav-container {
        transition: .3s;
        overflow: hidden;
        box-shadow: .2rem .35rem rgba(255, 255, 255, .25);
        border-radius: 0 1rem 1rem 0;
        width: 0%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(255, 255, 255, .5);
        
    
        .nav-bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 12rem;
            overflow: visible;

            ul {
                margin: 0;
                width: 100%;

                li {
                    font-size: 1.2rem;
                    width: 100%;
                    padding: .5rem;
                    transition: .5s;
                }

                li:hover {
                    padding: .8rem;
                    cursor: pointer;
                    background-color: rgba(43, 111, 152, .85);
                    transition: .5s;
                }
            }
    
            ol {
                margin: 0;
                width: 100%;
                
                p {
                    font-size: 1.2rem;
                    text-decoration: underline;
                }

                li {
                    width: 75%;
                    // border: solid black;
                    padding: .3rem;
                    transition: .5s;

                    a {
                        text-decoration: none;
                        color: black;
                    }

                    i {
                        margin-left: .5rem;
                        transition: .5s;
                    }

                }

                li:hover {
                    padding: .5rem;
                    cursor: pointer;
                    background-color: rgba(43, 111, 152, .85);
                    transition: .5s;
                    margin-left: .5rem;

                    i {
                        margin-left: 1rem;
                        transition: .5s;
                    }
                }

                
            }
    
            .nav-list {
                list-style: none;
                padding: 0;
                
            }
            
            .city-nav {
                align-items: center;
                list-style: none;
                padding: 0 0 0 1.5rem;
                text-align: left;
                
            }
        }
    }
}