<div class="side-nav-container">
    
    <div [style.width]="navContainerWidth" class="nav-container">
        <nav class="nav-bar">
            <ul *ngIf="showScrollOptions" class="nav-list">
                <li (click)="scroll('landing')">Home</li>
                <li (click)="scroll('why-va')">Why Virginia</li>
                <li (click)="scroll('learn-more')">Learn More</li>
                <li (click)="scroll('explore-our-cities')">Explore Our Cities</li>
            </ul>
            <ol class="city-nav">
                <li *ngIf="!showScrollOptions"><a [routerLink]="['/']">Home</a></li>
                <li *ngIf="!showScrollOptions">Explore Our Cities</li>
                <li>
                    <a [routerLink]="['/city', 'Richmond']">Richmond</a>
                    <i class="pi pi-arrow-right"></i>
                </li>
                <li>
                    <a [routerLink]="['/city', 'Lynchburg']">Lynchburg</a>
                    <i class="pi pi-arrow-right"></i>
                </li>
                <li>
                    <a [routerLink]="['/city', 'Roanoke']">Roanoke</a>
                    <i class="pi pi-arrow-right"></i>
                </li>
                <li>
                    <a [routerLink]="['/citations']">Citations</a>
                    <i class="pi pi-info-circle"></i>
                </li>
            </ol>
        </nav>
    </div>

    <div class="toggle-button">
        <p-button *ngIf="!navbarClosed" icon="pi pi-times" [text]="true" (click)="toggleNav()"></p-button>
        <p-button *ngIf="navbarClosed" [raised]="true" icon="pi pi-chevron-right" [text]="true" (click)="toggleNav()"></p-button>
    </div>
</div>

