<section class="compare-cities">
    
    <div class="table-container">
        <h3>How do the cities compare to each other?</h3>
        <table>
            <thead>
                <tr>
                    <th>City</th>
                    <th>Education</th>
                    <th>
                        Income
                        <span class="avg-income">State Avg: $80,615</span>
                    </th>
                    <th>Crime Rate</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Roanoke</td>
                    <td>2nd</td>
                    <td>
                        3rd
                        <span class="avg-income">Avg: $48,476</span>
                    </td>
                    <td>2nd</td>
                </tr>
    
                <tr class="middle">
                    <td>Lynchburg</td>
                    <td>3rd</td>
                    <td>
                        2nd
                        <span class="avg-income">Avg: $54,015</span>
                    </td>
                    <td>1st</td>
                </tr>
    
                <tr>
                    <td>Richmond</td>
                    <td>1st</td>
                    <td>
                        1st
                        <span class="avg-income">Avg: $54,795</span>
                    </td>
                    <td>3rd</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>
