<div class="why-virginia-tile-container">
    <div class="tile-piece image-container">
        <img src="assets/bar-chart.svg" alt="">
    </div>
    <div class="tile-piece text-container">
        <h3 class="content-title">Content Title</h3>
        <p class="content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

        </p>
    </div>
</div>