.why-virginia-section {
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(43,111,152,1), rgba(252, 213, 202, 0.2));

    .tiles {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}