<div class="virginia-page-container">
    
    <app-state-side-nav class="sidenav" (scrollEvent)="scroll($event)"></app-state-side-nav>
    <app-fun-facts [funFacts]="stateFunFacts" class="fun-facts"></app-fun-facts>

    <div class="landing-sections">
            <span id="landing">
                <app-state-landing-section (scrollEvent)="scroll($event)"></app-state-landing-section>
            </span>
            <span id="why-va">
                <app-why-virginia-section ></app-why-virginia-section>
            </span>
            <span id="explore-our-cities">
                <app-explore-our-cities-section></app-explore-our-cities-section>
            </span>
            <span id="learn-more">
                <app-learn-more-section></app-learn-more-section>
            </span>
    </div>
        
</div>

